<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verification</title>
  </head>
  <body>
    <h2>Ваша електронна пошта підтверджена!</h2>
    <h4>Для переходу на головну сторінку натисніть посилання:</h4>
    <a href="https://yarmarok.netlify.app/">
        Головна сторінка
      </a>
  </body>
</html>